{% extends 'base.html.twig' %}

{% block title %}Hello ChambreController!{% endblock %}

{% block body %}
    <div class="modal fade" id="setType">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title">Enregister une chambre</h1>
                    <button type="button" class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body"> 
                    {{ form_start (chambreForm) }}
                            {{ form_row (chambreForm.numChambre) }} 
                            {{ form_row (chambreForm.numBatiment) }} 

                            {{ form_row (chambreForm.type) }}

                        <div class="d-flex justify-content-around">
                            <button type="submit" class="btn btn-primary" id="ajouter" name="ajouter">Ajouter</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        </div>

                    {{ form_end (chambreForm) }}
                </div>
                <div class="modal-footer"> </div>
            </div>
        </div>
    </div>

    <div class="card mt-5 mb-5">
        <div class="d-flex justify-content-center mt-1">
            <button type="addRoom" name="" id="" class="btn btn-primary" href="" role="button" data-toggle="modal" data-target="#setType"> Ajouter une nouvelle chambre</button>
        </div>
        <div class="card-body table-responsive-sm" id="scrollable">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Numero Chambre</th>
                    <th scope="col">Type chambre</th>
                    <th scope="col">Modifier</th>
                    <th scope="col">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                        <tr>
                            <td>{{ room.numChambre}}</td>
                            <td>{{ room.type}}</td>
                            <td><a href="{{ path("update_room",{"id":room.id}) }}" class="update"><img src="{{ asset("img/ic-liste-active.png")}}" /></a></td>
                            <td><a href="{{ path("delete_room",{"id":room.id}) }}" class="delete"><img src="{{ asset("img/ic-supprimer.png")}}" /></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-primary" id="previous">Precedent</button>
                <button type="button" class="btn btn-primary" id="next">Suivant</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("js/room.js")}}"></script>
{% endblock %}